[user]
    name = Dominic Gomez
    email = dominicgomez@users.noreply.github.com
[core]
    editor = vim
    excludesfile = ~/.gitignore
[alias]
    i = init
    s = status
    a = add
    c = commit -m
    ca = commit -am
    ch = checkout
    b = branch
    d = branch -d
    D = branch -D
    p = push
    po = push origin
[credential]
    helper = osxkeychain


# vim:tw=79:ts=8:sts=4:sw=4:et:
