[user]
	name = dominicgomez
	email = dominicgomez@users.noreply.github.com
        signingkey = 32FDCD081456A798
[core]
	editor = vim
	excludesfile = /Users/nic/.gitignore
[init]
	defaultBranch = main
[gpg]
	program = gpg
[commit]
	gpgsign = true
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
